#ENTIDAD: Call Center

In [196]:
#!pip install Faker: Faker es un paquete de Python que genera datos falsos.
!pip install Faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Faker in /usr/local/lib/python3.7/dist-packages (15.3.2)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: typing-extensions>=3.10.0.1 in /usr/local/lib/python3.7/dist-packages (from Faker) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)

In [197]:
#!pip install geocoder: Es un cliente de Python para varios servicios web de geocodificación populares
!pip install geocoder

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geocoder in /usr/local/lib/python3.7/dist-packages (1.38.1)
Requirement already satisfied: ratelim in /usr/local/lib/python3.7/dist-packages (from geocoder) (0.1.6)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from geocoder) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from geocoder) (7.1.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from geocoder) (2.23.0)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from geocoder) (0.16.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (3.0.4)

In [198]:
#Librerías necesarias para la generación de datos.
import pandas as pd
import uuid
import random
from faker import Faker
import datetime

#Librerías para generar número de teléfono.
import random as r
from random import seed
from datetime import datetime

In [199]:
#Variable asignada para el tamaño del conjunto de datos. 
num_iess = 5000

In [200]:
#Lista de 4 características (Atributos)
features = [
    "idcallcenter",
    #Genero no es un atributo.
    "genero",
    "nombrecallcenter",
    "telefonocallcenter",
]# Creando un DF para estas características
df = pd.DataFrame(columns=features)

**idcall**

In [201]:
#Uso de la biblioteca uuid para generar cadena aleatoria de datos para la ID del Call Center.
df['idcallcenter'] = [uuid.uuid4().hex for i in range(num_iess)]

In [202]:
#Genera identificaciones únicas para cada usuario. Si todas las ID en el conjunto de datos son únicas, devuelve True.
print(df['idcallcenter'].nunique()==num_iess)

True

**nombrecall**

In [203]:
#Variable para los géneros para la creación de los nombres.
genero = ["female", "male"]

In [204]:
#Nombres.
df['genero']= random.choices(
    genero, 
    weights=(30,30), 
    k=num_iess)

In [205]:
#Instancia Faker
faker = Faker()
#Función.
def name_gen(genero):
    #Para masculino
    if genero=='male':
        return faker.name_male()
    #Para femenino
    elif genero=='female':
        return faker.name_female()
    #Genera los nombres
    return faker.name()
df['nombrecallcenter'] = [name_gen(i) for i in df['genero']]

**telefonocallcenter**

In [206]:
numero=[]
#Cantidad de números para la cadena..
size = 10
for i in range(0, num_iess):
  random.seed(datetime.now())
  #Números opcionales para formar la cadena.
  valores = [0,1,2,3,4,5,6,7,8,9]
  numero=(''.join([str(random.choice(valores)) for i in range(size)]))
  #Se guarda los números en telefonocallcenter.
  df.telefonocallcenter[i]=numero

In [207]:
del(df['genero'])

In [208]:
df.to_csv('iesscallcenter.csv')

In [209]:
df.head(5)

                       idcallcenter  nombrecallcenter telefonocallcenter
0  6fb5bfc903574184880a5b02a985482b     Amanda Palmer         5684177191
1  8e7ddca8a2114bb987d8e0ebff66a9c2  Cheyenne Sanders         5102762627
2  033beaae697b452f87689b588d174b98   Jillian Johnson         8609315451
3  dab515733bb443d9ab38d593c359c405    Albert Leblanc         5078290284
4  c01913d304b54c7989e0198d0291e6f9      Lauren Smith         1368484483