#ENTIDAD: Administrador

In [67]:
#!pip install Faker: Faker es un paquete de Python que genera datos falsos.
!pip install Faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Faker in /usr/local/lib/python3.7/dist-packages (15.3.2)
Requirement already satisfied: typing-extensions>=3.10.0.1 in /usr/local/lib/python3.7/dist-packages (from Faker) (4.1.1)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)

In [68]:
#Librerías necesarias para la generación de datos.#
import pandas as pd
import uuid
import random
from faker import Faker
import datetime

In [69]:
#Variable asignada para el tamaño del conjunto de datos. 
num_iess = 5000

In [70]:
#Lista de 2 características (Atributos)
features = [
    "idadmi",
    "claveadmi",
]# Creando un DF para estas características
df = pd.DataFrame(columns=features)

**idadmi**

In [71]:
#Uso de la biblioteca uuid para generar cadena aleatoria de datos para la ID del administrador.
df['idadmi'] = [uuid.uuid4().hex for i in range(num_iess)]

In [72]:
#Genera identificaciones únicas para cada usuario. Si todas las ID en el conjunto de datos son únicas, devuelve True.
print(df['idadmi'].nunique()==num_iess)

True

**claveadmi**

In [73]:
#Uso de la biblioteca uuid para generar cadena aleatoria de datos para la clave o contraseña.
df['claveadmi'] = [uuid.uuid4().hex for i in range(num_iess)]

In [74]:
#Genera identificaciones únicas para cada usuario. Si todas las claves en el conjunto de datos son únicas, devuelve True.
print(df['claveadmi'].nunique()==num_iess)

True

In [75]:
df.to_csv('iessadmi.csv')

In [76]:
df.head(5)

                             idadmi                         claveadmi
0  32650742d4b647ef97a838dacc0b1d02  4b2d7fcc08c3457f9565e0b9f6c63337
1  4ee06bfc3e3b4fac835dd755581c1a9d  28e8e071db614af6b8f33c12878bf01f
2  274cccb2d2be4b538a45b07432bbf909  81c6b251b1ee41f1a47df2b6c32b2260
3  4699f669e9c64b778b0cbaaa81f21235  38158934934b4a6797e2f5d6c1300745
4  b90180b844e148658a66ec05db7d5e34  0d2249d6d9704dd0bea9aaaa7cd858be